<div class='card'>
    <div class='card-header'>
     
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table'
              *ngIf = 'products && products.length'>
          <thead>
            <tr>
              <!--<th>
                <button class='btn btn-primary'
                (click)='toggleImage()'>
                  {{showImage? 'Hide' : 'Show'}} Image
                </button>
              </th>-->
              <th>Course</th>
              <th>Category</th>
              <th>Description</th>
              <th>faculty</th>
              <th>rating</th>
            </tr>
           
          </thead>
          <tbody>  
              <tr *ngFor='let product of products'>
                 <!-- <td><img *ngIf='showImage'
                    [src] = 'product.imageurl' 
                    [title] = 'product.course'
                    [style.width.px] = 'imageWidth' 
                    [style.margin.px] = 'imageMargin'></td>-->
                  <td>{{ product.course }}</td>
                  <td>{{ product.category }}</td>
                  <td>{{ product.description }}</td>
                  <td>{{ product.faculty}}</td>
                  <td>{{ product.rating }}</td>
                  <td>
                     <button class="btn btn-warning" style="cursor:pointer"  (click)="editProduct(product)" style="margin-left: 20px;"> Edit</button>
                    <button class="btn btn-danger" style="cursor:pointer" (click)="deleteProduct(product)"> Delete</button>
                  </td> 
                </tr>              
          </tbody>
        </table>
      </div>
    </div>
  </div>

