<div class="container" style="background-color:beige" >
     
    <div class="container back" style="margin-top:10px;margin-left:400px;" >
     
     

      
        <div class="col-md-5 back" style="background-color:darkgrey;border: crimson 2px;">
        
          <form (ngSubmit)="editBook()">
    
    
              
            <div class="form-outline mb-4">
                <label for="Name of Book">Category</label>
              <input type="text"  name="fname"  [(ngModel)]="book.category" #fname="ngModel" required class="form-control form-control-lg"
                 />
                
            </div>
  
            
            <div class="form-outline mb-3">
                <label for="Name of Book">Description</label>
              <input type="text"  name="Description"  [(ngModel)]="book.description" #email="ngModel" required class="form-control form-control-lg"
                />
               
            </div>
  
           
  
  
                  <div class="form-outline mb-3">
                <label for="Name of Book">Remark</label>
                <input type="text"  [(ngModel)]="book.remark" name="password" #password="ngModel" required minlength="6" class="form-control form-control-lg"
                  />
                 
              </div>
  
              
            
           
  
            <div class="d-flex justify-content-between align-items-center">
             
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" value="submit"  class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">submit</button>
              
            </div>
  
          </form>
        </div>
        
      </div>
        </div>

