<div class="container" style="background-color:white;" >
 

    <div class="row">
        <div class="col">
          
          <br><br><br><br><br><br>

          <h5>
            Hello </h5> <h4>Welcome to Course Web Application</h4>
          
          <h5>
            Enjoy your learning industry relevant courses!!!
          </h5>
        
           </div>
        
      
       
        <div class="col" style="margin-top:10px;background-color:darkorange;">
        

        <img [src]="image" alt="" style="width:500px;height:500px;margin-left:20px;clip-path:circle();">

            
        </div>
        <div class="col" style="background-color:aliceblue;">
                         <br><br><br><br><br><br><br><br><br><br>
          <h4><i>About CourseApp</i></h4>
          <p>A course web management system is a collection of software tools providing an online
             environment for course interactions. A CMS typically includes a variety of online tools
              and environments, such as: An area for faculty posting of class materials such as course 
              syllabus and handouts.
          </p>
          <br><br>
          <a routerLink="project"> <h3>
          </h3></a>
         
           
          </div>
      </div>

     
    
</div>


<div class="container" >
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>
</div>
<div class="container" style="background-color:white;height:600px" >
 

    <div class="row">
        <div class="col">
          
          <br><br><br><br><br><br>
                <h3>Contact Details</h3>
         
        
           </div>
        
      
       
        <div class="col" style="margin-top:10px;background-color:darkorange;height:600px">
        
          <br><br><br><br><br><br><br><br><br>
            <h5>
                Email:coursewebapp@gmail.com
            </h5>
            <br>
            <h5>Phone Number:+91-8887000675</h5>
         
       
            
        </div>
        <div class="col"  style="background-color:aliceblue;height:600px">
            <br><br><br><br>  <br><br><br><br><br><br><br><br><br><br><br><br>
              <h1>
					<a routerLink="signup">Sign up</a>
                
              </h1>           
           
          </div>
      </div>

     
    
</div>
